@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using Infrastructure
@inject IChoreRepository ChoreRepo

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (chores == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var chore in chores)
            {
                <tr>
                    <td>@chore.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IReadOnlyCollection<ChoreDTO>? chores;

    protected override async Task OnInitializedAsync()
    {
        chores = await ChoreRepo.ReadAllChoresAsync(Guid.Parse("30bc356c-f2cf-42b6-961e-dfd178a50a66"));
    }
}
