@inherits LayoutComponentBase


<MudThemeProvider Theme="CustomTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<div>
<MudLayout>
    <MudAppBar Elevation="0" Color=Color.Primary>
        <MudAvatar Color="Color.Secondary" Variant="Variant.Filled">
            <MudIcon Color="Color.Dark" Icon="@Icons.Material.Filled.Woman" Size="Size.Large" />
        </MudAvatar>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Edge="Edge.Start" OnClick="@(() => DrawerToggle(Anchor.End))" />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="1" Anchor=@anchor Variant="@DrawerVariant.Temporary" Color=Color.Secondary Style="border-radius: 25px 0% 0% 25px;">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Chore</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium" Class="my-16 pt-16">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>
</div>

@code {
    bool _drawerOpen = false;
    Anchor anchor;

    void DrawerToggle(Anchor anchor)
    {
        _drawerOpen = !_drawerOpen;
        this.anchor = anchor;
    }

    MudTheme CustomTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = "#f4e7e1",
            PrimaryContrastText = "#272c34ff",
            TextPrimary = "#272c34ff",
            PrimaryLighten = "rgb(255,255,255)",
            PrimaryDarken = "rgb(193,181,175)",
            
            Secondary = Colors.DeepPurple.Lighten4,
            TextSecondary = "#272c34ff",
            SecondaryContrastText = "#272c34ff",
        },
    };
}
