@inherits LayoutComponentBase


<PageTitle>Chore</PageTitle>
<ResponsiveLayout>
    <NavigationMenu>
        <div class="sidebar">
            <NavMenu />
        </div>
    </NavigationMenu>

    <Header>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
    </Header>

    <ChildContent>
        @Body
    </ChildContent>
</ResponsiveLayout>
